<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="container">
  <h1><%= title %></h1>
  <form action="/:userId/signUp-citation" method="post">
    <div class="form-group">
      <!-- <label for="id_c">ID :</label>
      <input type="text" class="form-control"  placeholder="Enter Name" name="id_c" required>
    </div>
    <div class="form-group">
      <label for="id_a">ID auteur:</label>
      <input type="text" class="form-control"  placeholder="Enter text" name="id_a" required>
    </div> -->
    <div class="form-group">
      <label for="citation">Citation :</label>
      <input type="text" class="form-control"  placeholder="Enter text" name="citation" required>
    </div>
    <div class="form-group">
      <label for="livre">Livre :</label>
      <input type="text" class="form-control"  placeholder="Enter text" name="livre">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>
